*{
    margin:0px;
    padding:0px;
    scroll-behavior: smooth;
}
.head{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: rgb(189, 230, 230);
    min-height:15.5vh;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.head>h1{
    position: relative;
    margin:1vw;
    font-weight:lighter;
    font-size:4.9vh;
    color: rgb(11, 131, 91);
    box-shadow:1px 1px 25px 5px;
    border-radius:15px 35px;
    letter-spacing:1vw;
}
#one{
    position: relative;
    bottom:1.9vh;
    right:0.5vh;
}
#two{
    position: relative;
    top:0.6vh;
}
#three{
    position: relative;
    top:3vh;
}
.container{
    min-height:78vh;
    padding:3vh;
    background-image:linear-gradient( rgb(34, 185, 135),rgb(111, 222, 222));
}
.container>form{
    display: flex;
    flex-direction: column;
    position: relative;
    padding:5vh;
    margin-bottom:10vh;
}
input{
    min-height:5vh;
    margin:4vh 4vh 3vh 4vh;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font:200 1.5rem bold;
    border-radius:1vh ;
    outline:none;
    border: none;
}
input:hover{
    background-color: rgb(0, 255, 170);
    transition: 0.5s;
}
textarea{
    min-height:1vh;
    margin:2vh 4vh 3vh 4vh;
    text-align:center;
    padding-top:2vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font:200 1.5rem bold;
    border-radius:1vh ;
    outline:none;
    border: none;
}
textarea:hover{
    background-color: rgb(0, 255, 170);
    transition: 0.5s;
}
button{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font:50 1.3rem bold;
    width:15vw;
    height:6vh;
    background-color:#f1ebeb9c;
    border-radius:5vh 100vw 5vh 100vw;
    border: none; 
    cursor: pointer;
    margin: auto;
}
button:hover{
    transition: 0.5s;
    background-color: rgb(0, 255, 170);
}
.item{
    border-radius:5vh;
    margin:13vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.612);
}
.task{
    background-color: rgba(39, 223, 162, 0.689);
    padding:1vh;
    margin:0px 20px 0px 20px;
    margin-bottom:2.5vh;
    border-radius:10px;
    position: relative;
    top:1.5vh;
    display: flex;
    flex-direction: column;
    border:1px solid rgba(0, 128, 0, 0.432);
}
.task>P{
    min-height:4vh;
    font: 100 1.5rem bolder;
    color:rgb(5, 117, 5);
    margin:1vh;
    text-transform: uppercase;
}
.task>span{
    color: rgb(21, 188, 49);
    font: 100 1.5rem bolder;
    min-height:4vh;
    min-width:20vw;
    margin:1vh;
}
#delete{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius:10vw;
    width:9vw;
    background-color: rgb(208, 213, 207);
    color: #000000;
    cursor: pointer;
}
#delete:hover{
    background-color: rgba(0, 128, 0, 0.389);
}